@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video, dir {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* ,*:before, *:after {
   box-sizing: border-box;
   -webkit-padding-start: 0;
}
:root {
  --row1: row 1;
}
.App {
font-family: 'Roboto', sans-serif;
}

.App-header {
  background-color: #252525;
  height: 44px;
  color: white;
  font-size: 36px;
  display: flex;
  padding-left: 58px;
  line-height: 1.4;
}

.header_logo {
  width: 132px;
  height: 32px;
}

.selection_logo {
  width: 50px;
  height: 50px;
  background-image: url('http://static.minutemediacdn.com/assets/production/icons/teams/h50/arsenal-2df2afa9ef8cba5a1bc66ac43bc5f3c7.png');
}

.selection_title {
  font-size: 35px;
  padding-left: 10px;
  line-height: 55px;
}

.selection_Container {
   display:flex;
   padding-left: 50px;
   margin-top: 35px;
}

.grid_container {
    margin: auto;  
}

ul {
 list-style-type: none;
}

@media only screen and (max-width: 320px) {
  .selection_title {
    font-size: 35px;
    padding-left: 10px;
    line-height: 55px;
    margin-bottom: 24px;
 } 

  .grid_items {
    width: 90%;
    margin: auto;
  }

  li {
    height: 250px;
    position: relative;
  }

  .article-list {
    display:grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
  }
  
  .article__title {
    background-color: #252525;
    color:#FFFFFF;
    font-size: 1.25rem;
    display: inline;
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    bottom: 50px;
    width: 90%;
  }
}

@media only screen and (min-width: 321px) and (max-width: 1279px) {
  .selection_Container {
    display:flex;
    padding-left: 30px;
    margin-top: 35px;
  }
   .grid_items {
    width: 90%;
    margin: auto;
  }

  .selection_title {
    font-size: 35px;
    padding-left: 10px;
    line-height: 55px;
    margin-bottom: 24px;
 } 

  .article-list {
    display:grid;
    grid-column-gap: 4%;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
  
  .article__title {
  background-color: #252525;
  color:#FFFFFF;
  font-size: 1rem;
  line-height: 1.7rem;
  height:60px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  -webkit-line-clamp: 2;
}
}

@media only screen and (min-width: 1280px) {
  .article__title {
  background-color: #252525;
  color:#FFFFFF;
  font-size: 1rem;
  line-height: 1.7rem;
  height: 60px;
  width: 100%;
  word-break: break-word;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  
}

  .article-list {
    display:grid;
    width:97%;
    grid-column-gap: 3%;
    grid-row-gap: 35px;
  }

  li:nth-child(1),li:nth-child(2),li:nth-child(3) {
    grid-row: --row1;
  }

  li:nth-child(1) {
    grid-column: col 1/ span 3;     
  }

  li:nth-child(2) {
    grid-column: col 4 / span 5 ; 
  }

  li:nth-child(3) {
    grid-column: col 9 / span 3; 
  }

  li:nth-child(4),li:nth-child(5),li:nth-child(6) {
    grid-row: row 2;
  }

  li:nth-child(4) {
    grid-column: col 1 / span 5 ;
  }

  li:nth-child(5) {
    grid-column: col 6 / span 3;
      
  }

  li:nth-child(6) {
      grid-column: col 9 / span 3;
  }

  li:nth-child(7),li:nth-child(8),li:nth-child(9) {
    grid-row: row 3;
  }

  li:nth-child(7) {
    grid-column: col 1 / span 3 ;
  }

  li:nth-child(8) {
    grid-column: col 4 / span 3;
  }

  li:nth-child(9) {
    grid-column: col 7 / span 5;
  }

  li:nth-child(10),li:nth-child(11),li:nth-child(12) {
    grid-row: row 4;
  }

  li:nth-child(10) {
    grid-column: col 1/ span 3;
  }

  li:nth-child(11) {
    grid-column: col 4 / span 5 ;
  }

  li:nth-child(12) {
    grid-column: col 9 / span 3;
  }

  li:nth-child(13),li:nth-child(14),li:nth-child(15) {
    grid-row: row 5;
  }

  li:nth-child(13) {
    grid-column: col 1 / span 5 ;
  }

  li:nth-child(14) {
    grid-column: col 6 / span 3;
  }

  li:nth-child(15){
    grid-column: col 9 / span 3;
  }

  li:nth-child(16),li:nth-child(17),li:nth-child(18) {
    grid-row: row 6;
  }

  li:nth-child(16) {
    grid-column: col 1 / span 3 ;
  }

  li:nth-child(17) {
    grid-column: col 4 / span 3;
  }

  li:nth-child(18){
      grid-column: col 7 / span 5;
  }
}


.article__image_container {
  width: 100%;
  height: 218px;
}

.article__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#selectedTeam{
  margin-top: 18px;
  width: 75px;
}  

.teamMenuContainer {
   
    margin: auto;
}

.leagueLogoMenu {
  width:40px;
  height: 40px; 
}

.leagueNametitle {
  line-height: 40px;
  color:orange;
}

.leagueLogoMenuContainer {
  float: left;
  margin-right: 10px;
}

.leagueMenu {
  width: 100%;
  height: 50px;
  background: #e8e8e8;
}

.teamMenu {
  border: 1px solid #e8e8e8;
  width: 18%;
  height: 125px;
  font-size: 10px;
}

.teamsContainer {
  display:flex;
  flex-flow: row wrap;
  flex-direction: column;
  overflow-x: auto;
  max-height: 375px;

}

.teamLogoContainer {
    margin-top: 25px;
    margin-left: 36%;
}

.teamTitle {
    width: 100%;
    text-align: center;
    font-size: 1.125rem;
    margin-top: 14px;
}

.teamLogo {
  width: 60px;
  height: 60px;
}

.teamNewContainer {
  display: none;
}